h1{
    text-align: center;
    font-size: 50px
}

table{
    margin: auto;
}

td{
    /* padding: 80px; */
    width: 100px;
    height: 100px;
    margin: 0px;
}

.centre{
    border-left: 3px solid black;
    border-right: 3px solid black;
}

#row2 td{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}