<% include partials/header %>

<h1 class="w-50 mt-5 mx-auto text-center">Create a new Campground</h1>
<div class="row justify-content-center">
    <div class="col col-md-4">
        <!-- form -->
        <form class="mt-4" action="/campgrounds" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="campground[name]" placeholder="Name">
            </div>
            <div class="form-group">
                <input class ="form-control" type="text" name="campground[image]" placeholder="Image URL">
            </div>
            <textarea class="form-control" cols="30" rows="5" name="campground[description]" placeholder="Describe your campground here"></textarea>
            <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </form>
        <a href="/campgrounds">Go back</a>
    </div>
</div>



<% include partials/footer %>